<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>AccountController.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>InforFilter</filter-name>
        <filter-class>AccountController.InforFilter</filter-class>
    </filter>
        <filter>
        <filter-name>InsertFilter</filter-name>
        <filter-class>AccountController.InsertFilter</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/sachAdmin</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>InforFilter</filter-name>
        <url-pattern>/infor</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>InsertFilter</filter-name>
        <url-pattern>/insert/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>detailSachController</servlet-name>
        <servlet-class>controller.detailSachController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TacGiaController</servlet-name>
        <servlet-class>controller.TacGiaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sachAdminController</servlet-name>
        <servlet-class>controllerAdmin.sachAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChiTietDonHangController</servlet-name>
        <servlet-class>controllerAdmin.ChiTietDonHangController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DonHangController</servlet-name>
        <servlet-class>controllerAdmin.DonHangController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NXBController</servlet-name>
        <servlet-class>controllerAdmin.NXBController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KhachHangController</servlet-name>
        <servlet-class>controllerAdmin.KhachHangController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSachController</servlet-name>
        <servlet-class>updateController.UpdateSachController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NgonNguController</servlet-name>
        <servlet-class>controllerAdmin.NgonNguController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChiTietSachController</servlet-name>
        <servlet-class>controllerAdmin.ChiTietSachController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SachVaTacGiaController</servlet-name>
        <servlet-class>controllerAdmin.SachVaTacGiaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertSachController</servlet-name>
        <servlet-class>controllerAdmin.InsertSachController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSachController</servlet-name>
        <servlet-class>deleteController.DeleteSachController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertDonHang</servlet-name>
        <servlet-class>controllerAdmin.InsertDonHangController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertKhachHang</servlet-name>
        <servlet-class>controllerAdmin.InsertKhachHangController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertChiTietSach</servlet-name>
        <servlet-class>controllerAdmin.InsertChiTietSachController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertTheLoaiController</servlet-name>
        <servlet-class>controllerAdmin.InsertTheLoaiController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TheLoaiController</servlet-name>
        <servlet-class>controllerAdmin.TheLoaiController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertChiTietDonHangController</servlet-name>
        <servlet-class>controllerAdmin.InsertChiTietDonHangController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertNXBController</servlet-name>
        <servlet-class>controllerAdmin.InsertNXBController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertTacGiaController</servlet-name>
        <servlet-class>controllerAdmin.InsertTacGiaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tacGiaAdminController</servlet-name>
        <servlet-class>controllerAdmin.tacGiaAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertSachVaTacGiaController</servlet-name>
        <servlet-class>controllerAdmin.InsertSachVaTacGiaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertNgonNguController</servlet-name>
        <servlet-class>controllerAdmin.InsertNgonNguController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateNXBController</servlet-name>
        <servlet-class>updateController.UpdateNXBController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateKhachHangController</servlet-name>
        <servlet-class>updateController.UpdateKhachHangController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDonHangController</servlet-name>
        <servlet-class>updateController.UpdateDonHangController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateChiTietDonHangController</servlet-name>
        <servlet-class>updateController.UpdateChiTietDonHangController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateChiTietSach</servlet-name>
        <servlet-class>updateController.UpdateChiTietSachController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateNgonNguController</servlet-name>
        <servlet-class>updateController.UpdateNgonNguController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSachVaTacGiaController</servlet-name>
        <servlet-class>updateController.UpdateSachVaTacGiaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTacGiaController</servlet-name>
        <servlet-class>updateController.UpdateTacGiaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTheLoaiController</servlet-name>
        <servlet-class>updateController.UpdateTheLoaiController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>AccountController.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>AccountController.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationController</servlet-name>
        <servlet-class>AccountController.RegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SachController</servlet-name>
        <servlet-class>controller.SachController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SachOfTheLoai</servlet-name>
        <servlet-class>controller.SachOfTheLoai</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllTacGiaController</servlet-name>
        <servlet-class>controller.AllTacGiaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InforKH</servlet-name>
        <servlet-class>controllerAdmin.InforKH</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MuaSachController</servlet-name>
        <servlet-class>controller.MuaSachController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateKHmua</servlet-name>
        <servlet-class>controller.UpdateKHmua</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XacNhanDonHangController</servlet-name>
        <servlet-class>controller.XacNhanDonHangController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatHangController</servlet-name>
        <servlet-class>controller.DatHangController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatHang2Controller</servlet-name>
        <servlet-class>controller.DatHang2Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>detailSachController</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TacGiaController</servlet-name>
        <url-pattern>/TacGia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sachAdminController</servlet-name>
        <url-pattern>/sachAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChiTietDonHangController</servlet-name>
        <url-pattern>/ChiTietDonHang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DonHangController</servlet-name>
        <url-pattern>/DonHang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NXBController</servlet-name>
        <url-pattern>/NXB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KhachHangController</servlet-name>
        <url-pattern>/KhachHang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSachController</servlet-name>
        <url-pattern>/UpdateSach</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NgonNguController</servlet-name>
        <url-pattern>/ngonngu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChiTietSachController</servlet-name>
        <url-pattern>/chitietsach</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SachVaTacGiaController</servlet-name>
        <url-pattern>/sachvatacgia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertSachController</servlet-name>
        <url-pattern>/InsertSach</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSachController</servlet-name>
        <url-pattern>/DeleteSach</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertDonHang</servlet-name>
        <url-pattern>/insertDonHang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertKhachHang</servlet-name>
        <url-pattern>/insertKhachHang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertChiTietSach</servlet-name>
        <url-pattern>/insertChiTietSach</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertTheLoaiController</servlet-name>
        <url-pattern>/insertTheLoaiController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TheLoaiController</servlet-name>
        <url-pattern>/theloai</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertChiTietDonHangController</servlet-name>
        <url-pattern>/insertChiTietDonHangController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertNXBController</servlet-name>
        <url-pattern>/insertNXB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertTacGiaController</servlet-name>
        <url-pattern>/insertTacGia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tacGiaAdminController</servlet-name>
        <url-pattern>/tacgiaAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertSachVaTacGiaController</servlet-name>
        <url-pattern>/insertSachVaTacGia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertNgonNguController</servlet-name>
        <url-pattern>/insertNgonNgu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateNXBController</servlet-name>
        <url-pattern>/updateNXB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateKhachHangController</servlet-name>
        <url-pattern>/updateKhachHang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDonHangController</servlet-name>
        <url-pattern>/updateDonHang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateChiTietDonHangController</servlet-name>
        <url-pattern>/updateChiTietDonHang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateChiTietSach</servlet-name>
        <url-pattern>/updateChiTietSach</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateNgonNguController</servlet-name>
        <url-pattern>/updateNgonNgu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSachVaTacGiaController</servlet-name>
        <url-pattern>/updateSachVaTacGia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTacGiaController</servlet-name>
        <url-pattern>/updateTacGia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTheLoaiController</servlet-name>
        <url-pattern>/updateTheLoai</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationController</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SachController</servlet-name>
        <url-pattern>/Sach</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SachOfTheLoai</servlet-name>
        <url-pattern>/sotl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllTacGiaController</servlet-name>
        <url-pattern>/allAuth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InforKH</servlet-name>
        <url-pattern>/infor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MuaSachController</servlet-name>
        <url-pattern>/muasach</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateKHmua</servlet-name>
        <url-pattern>/updatekhmua</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XacNhanDonHangController</servlet-name>
        <url-pattern>/xacnhan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatHangController</servlet-name>
        <url-pattern>/dathang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatHang2Controller</servlet-name>
        <url-pattern>/dathang2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
